build/
*.bak
*.obj
*.obj
*.tlog
*.pdb
*.pdb
*.obj
*.tlog
*.log
*.ilk
*.tlog
*.obj
*.pdb
*.spv
*.lib
*.idb
*.vcxproj
*.filters
*.user
*.sln
*.cmake
*.exe
x64/
.vs/
buildCopy/
build_backup
EightWinds.dir/
CmakeFiles/
release/
debug/
models/
textures/
packages/
shaders/debugging/
New Text Document.txt
debug/
build/